<div class="container" style="margin-top:40px;">
<form style="magin-top:20px;" action="/home/write" method="POST">
    <textarea type="text" name="content" class="form-control" rows="5"></textarea>
    <button type="submit" style="margin-top:10px;" name="content_<%=p.id %>" class="btn btn-default">Submit</button> 
    
</form>
</div>